/Src/RhythmClick/RythmClick.Unity/Library
/Src/RhythmClick/RythmClick.Unity/Temp
/Src/RhythmClick/RythmClick.Unity/.vs
/Src/RhythmClick/obj
/Src/RhythmClick/bin
/Src/.vs
/Src/RhythmClick/RythmClick.Unity/RythmClick.Unity.CSharp.csproj
/Src/RhythmClick/RythmClick.Unity/RythmClick.Unity.CSharp.Editor.csproj
/Src/RhythmClick/RythmClick.Unity/RythmClick.Unity.CSharp.Plugins.csproj
/Src/RhythmClick/RythmClick.Unity/RythmClick.Unity.sln
